body{
  background-color: #FFF1D0;
  margin: auto;
}

h1{
  text-align: center;
  font-size: 64px;
  margin: 24px;
  padding-top: 8px;
  color: bisque;
  font-family: 'Courier New', Courier, monospace;
}

header{
  background-color: #916953;
  padding: 32px;
}

nav{
  text-align: center;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.main-ul{
  display: inline-block;
  text-align: center;
  margin-left: -35%;
}

.main-ul li{
  margin: 0 auto;
  display: block;
  float: left;
  padding: 0 16px;
  text-align: 0;
}

a{
  text-decoration: none;
  color: bisque;
}

article{
  padding: 32px 128px;
}

h3{
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.img-inicio{
  display: block;
  float: left;
  padding: 1% 2%;
}

footer{
  text-align: center;
  color: bisque;
  background-color: #916953;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  padding-top: 2px;
}

.video{
  display: inline-block;
  text-align: center;
  margin: auto;
  height: 512px;
  width: 80%;
  padding: 0 10%;
}

h2{
  text-align: center;
  font-size: 6em; 
  margin-bottom: 1.5em; 
}

#menu{
  background-color: #916953;
  padding: 1em 0;
}

#menu-box{
  margin: 2em 0em;
  font-family: 'Courier New', Courier, monospace;
}


.cafe-img{
  width: 350px;
  height: 350px;
}


h4{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 80px;
  margin: 1em 0;
}

footer p{
  display: inline;
  margin: 5%;
}


  section{
    font-size: 20px;
    color: bisque;
    text-align: justify;
    font-family: monospace;
    background-color: #2A2B2A;
    padding: 2%;
    margin: 1%;
    border-radius: 16px;
  }

.headerBloque{
  display: inline-block;
  padding-left: 10%;
}

.imagenBloque {
  padding-left: 10%;
  width: 12%;
}

.imagenTextoSectores{
  display: flex;
  margin: 2% 1%;
  height: 500px;
}

.imagenesSectores {
  width: 550px;
  height: 500px;
}


p{
  width: 90%;
  margin: auto;
}
h3{
  width: 90%;
  margin: auto;
}

.imagenesSectores:hover{
  filter: blur(1px);
}

.liMenu:hover{
  background-color:#2A2B2A;
  border-radius: 20px;
}

.textoSectores {
  background-color: #916953;
  color: bisque;
  width: 90%;
  padding-top: 2%;
  padding-left: 2%;
}

.textoSectores p {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120%;
  margin-right: 10px;
}

.textoSectores li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120%;
  margin-right: 20px;
}

.textoSectores h5  {
  text-align: right;
  margin-right: 20px;
}

#informacionLugar{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #916953;
  font-size: 20px;
  display: inline-block;
  height: 100%;
  width: 1002px;
}

#ubicacion{
  color: bisque;
  text-align: center;
  font-family: monospace;
  border-radius: 16px; 
  display: inline-block; 
  width: 600px;
  height: 550px;
  background-color:#916953;
  
  margin-top: 2px;
  margin-bottom: 20px;
}
#direccion{
  width:20%;
  height: 90%;
  
}
#videoYoutube{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color:#916953;
    width: 90%;
    height: 100%;
}

.contenedo{
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
}

.contenedoo{
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  margin: 2%;
}


.contenedo > section {
  background-color: #f1f1f1;
  font-size: 30%;
}
.box01{
  width: 90%;
  
  display: flex;
  align-items: flex-start;
}
.box02{
  width: 90%;
  display: flex;
  align-items: flex-start;
}
.flex-container-column{
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.tit {
  margin: 0; 
  font-size: 2rem; 
}

.main-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-ul li {
  display: inline-block; 
  margin-right: 20px;
}

.main-ul li:last-child {
  margin-right: 0;
}

.imagenBloque {
  width: 100px; 
  height: auto; 
}

.tit{
  height: max-content;
  font-size:300%;
  margin: auto;
}
.etiquetas:hover{
  background-color:#2A2B2A;
  border-radius: 20px;
}

.flex-container-center{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#informacionLugar{
  width: 90%;
  padding: 20px;
  border-radius: 25px;
  background-color: #916953;
}

.letras{
  background-color: #916953;
  padding: 12px;
}

#tabla{
  background-color: #916953;
  padding: 20px 0px;
  border-radius: 25px;
  height: max-content;
  width: max-content;
}
#cafeteria{
  margin-left: 20px;

}
#articulo-ul{
  display: grid;
  grid-template-columns: repeat(2, 2fr); 
  gap: 20px;
}
.galeria-ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-columns: repeat(4, 1fr); /* 4 columnas por fila */
  gap: 20px;
}

.cafe-img {
  width: 100%; 
  height: 200px; 
  object-fit: cover;
}

#galeria{
  width: 95%;
}

#listaGaleria {
  background: #916953;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
}

#tituloGaleria {
  text-align: center;
  margin-bottom: 20px;
}

.item-title {
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .galeria-ul {
    grid-template-columns: repeat(2, 1fr); 
  }
  #articulo-ul{
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 576px) {
  .galeria-ul {
    grid-template-columns: repeat(1, 1fr); 
  }
  #articulo-ul{
    grid-template-columns: repeat(1, 1fr);
  }
}

#tituloCofee {
  text-align: center;
  margin-bottom: 10px;
}


.menuu-item {
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 100%;
  transition: transform 0.2s;
}

#cantidad{
  position: absolute;
  right: 0;
  margin-top: 5%;
  font-size: 125%;

}

#nombreCafeteria{
  color: black;
  text-align: center;
  flex: 1;

}

#cuadradoCantidad{
  background-color: #916953;
  width: 20%;
  border-radius: 4px;
  
}

#nombreMenu{
  text-align: left;
  font-size: 150%;
  margin: 0px;
  margin-top: 5%;  
  font-family: 'Courier New', Courier, monospace; 
}

#menuCompleto{
   border: #2A2B2A solid;
  background-color: #FFF1D0;
  border-radius: 8px;
  margin: 0 6em;
  padding-bottom: 1em;
}

#descripcionMenu{
  font-family: 'Courier New', Courier, monospace;
  line-height:300%;
  margin-left: 0%;
}

#botonPrecio {
  color: black;
  background-color: #916953;
  height: 50px;
  margin-left: 40%;
  font-size:100%;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 7%;
}

#precioTotal{
  margin-left: 46%;
  font-size: 100%;  
  font-family: 'Courier New', Courier, monospace;
}

.menuu-item p {
  font-size: 1em;
  margin-bottom: 8px;
}



