body{
  background-color: #FFF1D0;
  margin: auto;
}

h1{
  text-align: center;
  font-size: 64px;
  margin: 24px;
  padding-top: 8px;
  color: bisque;
  font-family: 'Courier New', Courier, monospace;
}

header{
  background-color: #916953;
  padding: 32px;
}

nav{
  text-align: center;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.main-ul{
  display: inline-block;
  text-align: center;
  margin-left: -35%;
}

.main-ul li{
  margin: 0 auto;
  display: block;
  float: left;
  padding: 0 16px;
  text-align: 0;
}

a{
  text-decoration: none;
  color: bisque;
}

article{
  padding: 32px 128px;
}

h3{
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.img-inicio{
  display: block;
  float: left;
  padding: 1% 2%;
}

footer{
  text-align: center;
  color: bisque;
  background-color: #916953;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  padding-top: 2px;
}

.video{
  display: inline-block;
  text-align: center;
  margin: auto;
  height: 512px;
  width: 80%;
  padding: 0 10%;
}

h2{
  text-align: center;
  font-size: 6em; 
  margin-bottom: 1.5em; 
}

#menu{
  background-color: #916953;
  padding: 1em 0;
}

#menu-box{
  margin: 2em 0em;
  font-family: 'Courier New', Courier, monospace;
}


.cafe-img{
  width: 330px;
  height: 330px;
}


h4{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 80px;
  margin: 1em 0;
}

footer p{
  display: inline;
  margin: 5%;
}


  section{
    font-size: 20px;
    color: bisque;
    text-align: justify;
    font-family: monospace;
    background-color: #2A2B2A;
    padding: 2%;
    margin: 1%;
    border-radius: 16px;
  }

.headerBloque{
  display: inline-block;
  padding-left: 10%;
}



.imagenTextoSectores{
  display: flex;
  margin: 2% 1%;
  height: 500px;
}

.imagenesSectores {
  width: 550px;
  height: 500px;
}


p{
  width: 90%;
  margin: auto;
}
h3{
  width: 90%;
  margin: auto;
}

.imagenesSectores:hover{
  filter: blur(1px);
}

.liMenu:hover{
  background-color:#2A2B2A;
  border-radius: 20px;
}

.textoSectores {
  background-color: #916953;
  color: bisque;
  width: 90%;
  padding-top: 2%;
  padding-left: 2%;
  font-size:13px;
}
.textoSectores p {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120%;
  margin-right: 10px;
}

.textoSectores li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120%;
  margin-right: 20px;
}

.textoSectores h5  {
  text-align: right;
  margin-right: 20px;
}

#informacionLugar{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #916953;
  font-size: 20px;
  display: inline-block;
  height: 100%;
  width: 1002px;
}

#ubicacion{
  color: bisque;
  text-align: center;
  font-family: monospace;
  border-radius: 16px; 
  display: inline-block; 
  width: 600px;
  height: 550px;
  background-color:#916953;
  
  margin-top: 2px;
  margin-bottom: 20px;
}
#direccion{
  width:20%;
  height: 90%;
  
}
#videoYoutube{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color:#916953;
    width: 90%;
    height: 100%;
}

.contenedo{
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
}

.contenedoo{
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  margin: 2%;
}


.contenedo > section {
  background-color: #f1f1f1;
  font-size: 30%;
}
.box01{
  width: 90%;
  
  display: flex;
  align-items: flex-start;
}
.box02{
  width: 90%;
  display: flex;
  align-items: flex-start;
}
.flex-container-column{
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.tit {
  margin: 0; 
  font-size: 2rem; 
}

.main-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-ul li {
  display: inline-block; 
  margin-right: 20px;
}

.main-ul li:last-child {
  margin-right: 0;
}

.imagenBloque {
  width: 90px; 
  height: auto; 
  padding-left: 10%;
}

.tit{
  height: max-content;
  font-size:300%;
  margin: auto;
}
.etiquetas:hover{
  background-color:#2A2B2A;
  border-radius: 20px;
}

.flex-container-center{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#informacionLugar{
  width: 90%;
  padding: 20px;
  border-radius: 25px;
  background-color: #916953;
}

.letras{
  background-color: #916953;
  padding: 12px;
}

#tabla{
  background-color: #916953;
  padding: 20px 0px;
  border-radius: 25px;
  height: max-content;
  width: max-content;
}
#cafeteria{
  margin-left: 20px;

}
#articulo-ul{
  display: grid;
  grid-template-columns: repeat(2, 2fr); 
  gap: 20px;
}
.galeria-ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(10, 1fr); 
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
}

.cafe-img {
  width: 250px; 
  height: 250px; 
  object-fit: cover;
}

#galeria{
  width: 95%;
}

#listaGaleria {
  background: #916953;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
}

#tituloGaleria {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-bottom: 20px;
  width: max-content;
}

.item-title {
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 4992px) {
  .galeria-ul {
    grid-template-columns: repeat(8, 1fr); 
  }
  #articulo-ul{
    grid-template-columns: repeat(8, 1fr);
  }
  .textoSectores{
    font-size: 21px;
  }
}
@media (max-width: 2992px) {
  .galeria-ul {
    grid-template-columns: repeat(5, 1fr); 
  }
  #articulo-ul{
    grid-template-columns: repeat(5, 1fr);
  }
  .textoSectores{
    font-size: 20px;
  }
}
@media (max-width: 1992px) {
  .galeria-ul {
    grid-template-columns: repeat(4, 1fr); 
  }
  #articulo-ul{
    grid-template-columns: repeat(4, 1fr);
  }
  .textoSectores{
    font-size: 17px;
  }
}
@media (max-width: 1392px) {
  .galeria-ul {
    grid-template-columns: repeat(3, 1fr); 
  }
  #articulo-ul{
    grid-template-columns: repeat(3, 1fr);
  }
  .textoSectores{
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .galeria-ul {
    grid-template-columns: repeat(2, 1fr);
  }
  #articulo-ul{
    grid-template-columns: repeat(2, 1fr);
  }
  .textoSectores{
    font-size: 10px;
  }
}
@media (max-width: 806px) {
  .galeria-ul {
    grid-template-columns: repeat(1, 1fr); 
  }
  #articulo-ul{
    grid-template-columns: repeat(1, 1fr);
  }
  .textoSectores{
    font-size: 8px;
  }
}

@media (max-width: 676px) {
  .galeria-ul {
    grid-template-columns: repeat(1, 1fr); 
  }
  #articulo-ul{
    grid-template-columns: repeat(1, 1fr);
  }
  .textoSectores{
    font-size: 5px;
  }
}

#tituloCofee {
  text-align: center;
  height: 100px;
  width: 300px;
  margin: auto;
  padding-top: 20px;
}

#menu {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#menuCompleto {
  border: #2A2B2A solid;
  background-color: #FFF1D0;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
}

#nombreCafeteria {
  color: black;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}
.menuu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuu-item {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 100%;
  transition: transform 0.2s;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.menuu-item:hover {
  transform: translateY(-5px);
}

#nombreMenu {
  text-align: left;
  font-size: 1.5em;
  margin: 0;
  font-family: 'Courier New', Courier, monospace; 
}

#descripcionMenu {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  margin-top: 10px;
}

#cantidad {
  margin-top: 10px;
  font-size: 1.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cuadradoCantidad {
  background-color: #916953;
  width: 50px;
  border-radius: 4px;
  margin-left: 10px;
}

#botonPrecio {
  color: black;
  background-color: #916953;
  height: 50px;
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#botonPrecio:hover {
  background-color: #71573c;
}

#precioTotal {
  margin-top: 20px;
  font-size: 1.5em;  
  font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 768px) {
  .menuu-item {
    width: 100%;
  }

  #cantidad {
    flex-direction: column;
    align-items: flex-start;
  }

  #cuadradoCantidad {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }

  #botonPrecio {
    width: 100%;
    margin-left: 0;
  }

  #precioTotal {
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  #nombreCafeteria {
    font-size: 1.5em;
  }

  #nombreMenu {
    font-size: 1.25em;
  }

  #botonPrecio {
    font-size: 0.875em;
    height: 40px;
  }

  #precioTotal {
    font-size: 1.25em;
  }
}

.search-input {
  width: 100%;
  height: auto;
  max-width: 40%;
  max-height: 100px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out;
}

.search-input:focus {
  border-color:#916953;
  outline: none;
}
#nosotros{
  width: 100%;
  max-width: max-content;
  color: #916953;
  background-color: #FFF1D0;
  margin-top: 30px;

}

.h3-nosotros{
  font-size: xx-large;
}
.p-nosotros{
  font-size: large;
  width: 85%;
}